<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GitHub Search Demo</title>
</head>
<body>

<label style='font-size:14pt;'>Demo GitHub Search facility: </label>
<hr/>


<h2>Please Enter you Github credentials. These will be used in the search.</h2>

<form action="/login" method="post">
GitHub Name: <input type='text' size='20' name='username' id='username'/>
, Password: <input type='password' size='20' name='password' id='password'/>
<input type='submit' value='Submit'/>
<form> 
  
  </body>
</html>
